[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
pillow = "*"
python-social-auth = {extras = ["django"],version = "*"}

[requires]
python_version = "3.7"
