{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>User1:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create </a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Option1</th>
					<th>Option2</th>
				</tr>

	

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>User2</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Option1</th>
					<th>Option2</th>
					<th>Option3</th>
					<th>Option4</th>
					<th>Option5</th>
				</tr>
		
			</table>
		</div>
	</div>

</div>

{% endblock %}