<br>

<div class="row">
    <div class="col">
        <div class = "col-md">
            <div class="card text-center text-white mb-3" id="option_1" >
                <div class="card-header">
                    <h5 class="card-title">Option1</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>       
            </div>
    
        </div>
    </div>
    
    <div class="col">
        <div class = "col-md">
            <div class="card text-center text-white mb-3" id="option_2" >
                <div class="card-header">
                    <h5 class="card-title">Option2</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div> 
            </div>
    
        </div>
    </div>

    <div class="col">
        <div class = "col-md">
            <div class="card text-center text-white mb-3" id="option_3" >
                <div class="card-header">
                    <h5 class="card-title">Option3</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div> 
            </div>
    
        </div>
    </div>
</div>    
    
