.wrapper.style3 {
    background-color: #000;
    color: #bfbfbf;
    background-image: url('/static/images/img7.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}